body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  color: #2c3e50;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}